
<body>
    
    <h1 class="container_head">{{companyArray.length}} Companies Exist <a routerLink="/companies/create" class = "plus">+</a></h1>
    <div class = "info_line" *ngFor="let coms of companyArray" >
        <div class = "id">{{coms.coid}}</div>
        <div class = "name" >{{coms.coname}}</div>
        <div class = "desc">{{coms.codesc.substring(0,33)}}...</div>
        <div class ="toright">
            <a [ngClass]="{'edit':true}" (click)="editLocation(coms.coid)" >Edit</a>
            <a [ngClass]="{'delete':true}"(click)="deleteCompany(coms.coid,coms.coname)">Delete</a>
        </div>
    </div>
</body>