ERetail_UI/angular-workspace/.angular/cache/
ERetail_API/target/classes/
ERetail_API/target/eretail-api-0.0.1-SNAPSHOT.jar
ERetail_API/target/.DS_Store
ERetail_API/.DS_Store
ERetail_API/data/category.json
ERetail_UI/angular-workspace/node_modules/
ERetail_API/src/.DS_Store
.DS_Store