<body>
    
    <h1 class="container_head">{{productArray.length}} Products  Exist</h1>
    <a class = "info_line" (click)="viewLocation(pros.pcode)" *ngFor="let pros of productArray" >
        <div class = "pcode">{{pros.pcode}}</div>
        <div class = "name" >{{pros.pname}}</div>
        <div class = "cnc">{{pros.category}}</div>
        <div class = "price">Rs.{{pros.price}}</div>
        <div class = "cnc">{{pros.stock}} in stock</div>
        <div class ="toright">
            <a class="edit" (click)="editLocation(pros.pcode)" >Edit</a>
            <a class="delete"(click)="deleteCompany(pros.pcode, pros.pname)">Delete</a>
        </div>
    </a>
</body>