<head>
    {{titler()}}
</head>
<body>
    <div class="container">
        <form class="form" id="login">
            <h1 class="form__title">Change Password</h1>
            <div id = "error_Message" class="form__message form__message--error">{{messageService.errorMsg}}</div>
            <div class="form__input-group">
                <input #password type="Password" class="form__input" autofocus placeholder="Type New Password">
                <div class="form__input-error-message"></div>
            </div>

            <div class="form__input-group">
                <input #passwordAgain type="Password" class="form__input" autofocus placeholder="Repeat New Password">
                <div class="form__input-error-message"></div>
            </div>
            <button class="form__button" type="button" (click)="submitUpdateForm(password.value,passwordAgain.value)">Continue</button>
            <br><br>
            <button class="form__button_del " type="button" (click)="submitDelForm()">Delete Account</button>
        </form>
    </div>
</body>