
<body>
    <br>
    <p class = "container_head"> Welcome To Admin Dashboard</p>
    <div class="page_container">
         
        <div class = "container_box">
            <div class="container_title">Product Utilities</div>  
            <button type="button" class="buttonBox" (click)="directButton('products/view',1)"> Product Report</button>
            <button type="button" class="buttonBox" (click)="directButton('products/create',1)"> Create New Product </button>
            <button type="button" class="buttonBox" (click)="directButton('products/view',1)"> Manage  Product</button>
            <br><br>
        </div>
        <div class = "container_box">
            <div class="container_title">Company Utilities</div>       
            <button type="button" class="buttonBox" (click)="directButton('companies/view',2)"> Company Report</button>
            <button type="button" class="buttonBox" (click)="directButton('companies/create',2)"> Create New Company</button>
            <button type="button" class="buttonBox" (click)="directButton('companies/view',2)"> Manage Companies</button>
        </div>
        <div class = "container_box">
            <div class="container_title">Category Utilities</div>  
            <button type="button" class="buttonBox" (click)="directButton('categories/view',3)"> Category Report</button>
            <button type="button" class="buttonBox" (click)="directButton('categories/create',3)"> Create New Category</button>
            <button type="button" class="buttonBox" (click)="directButton('categories/view',3)"> Manage Category </button>
        </div>
        <div class = "container_box">
            <div class="container_title">Bill & Sell Utilities</div>
            <button type="button" class="buttonBox" (click)="directButton('bills/create', 7)"> Start Sell</button>
            <button type="button" class="buttonBox" (click)="directButton('bills/view', 7)"> Sells Report</button>
            <button type="button" class="buttonBox" (click)="directButton('bills/view', 7)"> Edit Bills </button> 
            <br><br>
        </div>
        <br><br>
        <div class = "container_box">
            <div class="container_title">Anonymous Utilities</div> 
            <button type="button" class="buttonBox" (click)="usrName()">set title </button>
            <button type="button" class="buttonBox" (click)="directButton('accountpage',4)">Account Page </button>
            <button type="button" class="buttonBox" (click)="logoutButton()">Logout</button> 
        </div>
    </div>
</body>