
<body>

    <div class="page_container">
        <div class = "container_line"><p class = "">Welcome to user dashboard :)</p></div><br>

        <div class = "container_line">
            <button type="button" class="bubbleBox" (click)="usrName()">set title </button>
            <button type="button" class="bubbleBox" (click)="directButton('accountpage',3)">Account Page </button>
            <button type="button" class="bubbleBox" (click)="directButton('dashboard',-1)"> NO LINK</button>
            <button type="button" class="bubbleBox" (click)="directButton('dashboard',-1)"> NO LINK</button>
            <br>
            <button type="button" class="bubbleBox" (click)="usrName()">Set title t</button>
            <button type="button" class="bubbleBox" (click)="directButton('accountpage',-1)"> NO LINK</button>
            <button type="button" class="bubbleBox" (click)="directButton('dashboard',-1)"> NO LINK</button>
            <button type="button" class="bubbleBox" (click)="directButton('dashboard',-1)"> NO LINK</button>
        </div>
    </div>

</body>