
<body>
    <br>
    <p class = "container_head"> Welcome To Admin Dashboard</p>
    <div class="page_container">
         
        <div class = "container_box">
            <div class="container_title">Product Utilities</div>  
            <button type="button" class="buttonBox" (click)="directButton('dashboard',1)"> View Product List</button>
            <button type="button" class="buttonBox" (click)="directButton('dashboard',1)"> Create New Product </button>
            <button type="button" class="buttonBox" (click)="directButton('dashboard',1)"> Manage  Product</button>
            <br><br>
        </div>
        <div class = "container_box">
            <div class="container_title">Company Utilities</div>       
            <button type="button" class="buttonBox" (click)="directButton('companies/view',2)"> View Company List</button>
            <button type="button" class="buttonBox" (click)="directButton('companies/create',2)"> Create New Company</button>
            <button type="button" class="buttonBox" (click)="directButton('companies/edit',2)"> Manage Companies</button>
        </div>
        <div class = "container_box">
            <div class="container_title">Category Utilities</div>  
            <button type="button" class="buttonBox" (click)="directButton('categories/view',3)"> View Category List</button>
            <button type="button" class="buttonBox" (click)="directButton('categories/create',3)"> Create New Category</button>
            <button type="button" class="buttonBox" (click)="directButton('categories/edit',3)"> Manage Category </button>
        </div>
        <div></div>
        <div class = "container_box">
        <button type="button" class="buttonBox" (click)="usrName()">set title </button>
        <button type="button" class="buttonBox" (click)="directButton('accountpage',4)">Account Page </button>
        </div>
    </div>
    <br><br>
</body>