
<body>
    <div class="container" >
        <form class="form" id="login">
            <h1 class="form_title">Create New Product</h1>
            <div id = "error_Message" class="form__message form__message--error">{{messageService.errorMsg}}</div>
            
            <div class="form__input-group" style="margin-bottom: 1rem;">
                <input #pname  class="form__input" autofocus placeholder="Enter Product Name">
            </div>

            <div class = "drops" style="margin-bottom: 1rem;">
                <select #category style="margin-right: 6%; margin-left: 7%;">
                    <option value="?">Choose Category</option>
                    <option *ngFor="let cats of categoryArray" class="opt" [value]="cats.caname">
                        {{cats.caname}}
                    </option>
                </select>
                <select #company>
                    <option value="?">Choose Company</option>
                    <option *ngFor="let coms of companyArray" [value]="coms.coname">
                        {{coms.coname}}
                    </option>
                </select>
            </div>
                
            <div class = "drops">
                <div class="form__input-group" style="width: 40%; margin-right: 6%; margin-left: 7%;">
                    <input #stock class="form__input" style="height:60px; text-align: center;"  autofocus placeholder="Enter Product Stock">
                </div>
                <div class="form__input-group" style="width: 40%;">
                    <input #price class="form__input" style="height:60px; text-align: center;" autofocus placeholder="Enter Product Price">
                </div>
            </div>
              
            
            <div class="drops">
                <div style= "width:40%; margin-top:none; margin-right: 6%; margin-left: 7%;" >
                    <input #mnfdate type="date" style="height:65px;text-align: center;" class="form__input" autofocus placeholder="Enter Manufacture Date">
                    <div class="dateHead">Manufacture Date</div>
                </div>
                <div style= "width:40%;" >
                   <input #expdate type="date" style="height:65px;text-align: center;" class="form__input" autofocus placeholder="Enter Manufacture Date">
                   <div class="dateHead">Expiry Date</div>
                </div>
            </div>

            <div style="margin-bottom: 2rem;">
                <textarea #description style="height: 80px; max-height: 150px; max-width: 100%;" class="form__input"></textarea>
            </div>

            <div>
                <button class="form__button" type="button" (click)="createProduct(pname.value, category.value, company.value, toNum(stock.value),price.value, (mnfdate.value), (expdate.value), description.value)">Click To Create</button>
                <button style="margin-bottom: 30px;" class="form__button" type="button" routerLink="/products/view">View All Products --></button>
            </div>
        </form>
    </div>
</body>