<body>
    <div class="container" style="height: 40rem;">
        <div class = "infoid">
            <div class = "nam">ID :</div>
            <div class = "val">{{this.curPcode}}</div>
        </div>  
        <div class = "infoid">
            <div class = "nam">Name :</div>
            <div class = "val">{{this.curPname}}</div>
        </div>
        <div class = "infoid">
            <div class = "nam">Category :</div>
            <div class = "val">{{this.curCat}}</div>
        </div>
        <div class = "infoid">
            <div class = "nam">Company :</div>
            <div class = "val">{{this.curCom}}</div>
        </div>
        <div class = "infoid">
            <div class = "nam">Stock :</div>
            <div class = "val">{{this.curStock}}</div>
        </div>
        <div class = "infoid">
            <div class = "nam">Price :</div>
            <div class = "val">Rs {{this.curPrice}}</div>
        </div>
        <div class = "infoid">
            <div class = "nam">MNF Date :</div>
            <div class = "val">{{this.mnfdat}}</div>
        </div>
        <div class = "infoid">
            <div class = "nam">Expiry Date :</div>
            <div class = "val">{{this.expdat}}</div>
        </div>
        <div class = "infoid">
            <div class = "nam">Description :</div>
            <div class = "val">{{this.curDesc}}</div>
            <br>
        </div>
        <button style="margin-top: 30px;margin-bottom: 30px;" (click)="editLocation(this.curPcode)" class="form__button" type="button" Click To Edit></button>
    </div>
</body>